@layer base {
  @font-face {
    font-family: "Helvetica Now";
    font-weight: 400;
    src: url(../fonts/HelveticaNowText.woff2) format("woff2");
  }
  @font-face {
    font-family: "Helvetica Now";
    font-weight: 500;
    src: url(../fonts/HelveticaNowTextMedium.woff2) format("woff2");
  }
  @font-face {
    font-family: "Helvetica Now";
    font-weight: 700;
    src: url(../fonts/HelveticaNowTextBold.woff2) format("woff2");
  }
  @font-face {
    font-family: "Helvetica Now";
    font-weight: 800;
    src: url(../fonts/HelveticaNowTextExtraBold.woff2) format("woff2");
  }
  @font-face {
    font-family: "Helvetica Now";
    font-weight: 900;
    src: url(../fonts/HelveticaNowTextExtraBlack.woff2) format("woff2");
  }
}
