@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "fonts";
@import "leaflet/dist/leaflet.css";

.clip-path-1 {
  clip-path: url(#clipPath1);
}

.clip-path-2 {
  clip-path: url(#clipPath2);
}

.clip-path-3 {
  clip-path: url(#clipPath3);
}
